.contentsPadding{
    padding: 15px 20px 16px 20px;
}
.contentsMargin{
    margin-top :10px;
}
.contentsTextPadding{
    padding-left: 20px
}
.contentsBox{
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
}
.synergyStyleNoStyle{
    background-image: url("/img/tft/synergy/hollow/style/No_style.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}
.synergyStyleBronze{
    background-image: url("/img/tft/synergy/hollow/style/Bronze.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.synergyStyleSilver{
    background-image: url("/img/tft/synergy/hollow/style/Silver.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.synergyStyleGold{
    background-image: url("/img/tft/synergy/hollow/style/Gold.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.synergyStyleChromatic{
    background-image: url("/img/tft/synergy/hollow/style/Chromatic.png");
    background-repeat: no-repeat;
    background-size: contain;
}