<!DOCTYPE html>
<html th:replace="~{templates/layouts/baseLayout :: baseLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymleaf.org">
<head>
    <title>롤토체스 정보 사이트 롤체인포 - 증강</title>
</head>
<body>
    <section>
        <div id="backgroundImage">
            <div class="container augmentContentsAtt">
                <div class="row">
                    <div class="col-sm-6 btn-group justify-content-start" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-primary" for="btnradio1">티어 1</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-primary" for="btnradio2">티어 2</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-primary" for="btnradio3">티어 3</label>
                    </div>
                    <div class="col-sm-5 offset-1">
                        <input type="search" class="form-control" name="searchAugment" id="searchAugment" placeholder="증강체 검색" aria-label="Search">
                    </div>
                </div>
                <div class="container bg-dark">
                    <div class="augmentsList" id="augmentsList"></div>
                </div>
                <footer th:replace="templates/fragments/footer.html :: footer"></footer>
            </div>
        </div>
        <script th:src="@{/js/tft/augment/augmentsList.js}"></script>
    </section>
</body>
</html>