<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/header.html :: header"></head>
<link th:href="@{/css/fragments/tftContents.css}" rel="stylesheet">
<link th:href="@{/css/fragments/sumonner.css}" rel="stylesheet">
<body>
    <header th:replace="templates/fragments/bodyHeader.html :: bodyHeader"></header>
    <div class="container text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div th:text="|${searchName} 소환사는 검색 되지 않습니다.|"></div>
    </div>
    <footer th:replace="templates/fragments/footer.html :: footer"></footer>
</body>
</html>