<!DOCTYPE HTML>
<html th:replace="~{templates/layouts/baseLayout :: baseLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymleaf.org">
<head>
  <title>롤토체스 정보 사이트 롤체인포 - 비밀번호 확인화면</title>
</head>
<body>
  <section>
    <div class="form-signin text-center">
      <form th:action method="get">
        <img class="mb-4" src="/img/login/logo.png" alt="" width="72" height="57">
        <div class="form-floating mb-2">
          <label th:for="postPassword" class="pb-2">Password</label>
          <input type="password" class="form-control" th:id="postPassword" th:name="postPassword" placeholder="비밀번호를 입력하세요">
        </div>
        <button class="w-100 mb-1 btn btn-lg btn-primary" type="submit">확인</button>
        <button class="w-100 btn btn-lg btn-dark" type="button" onclick="javascript:history.back();">취소</button>
      </form>
    </div>
  </section>
</body>
</html>