<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/header.html :: header"></head>
<body>
  <header th:replace="templates/fragments/bodyHeader.html :: bodyHeader"></header>
  <div class="container mt-5">
    <div th:object="${post}">
      <div class="form-group">
        <label th:for="title">제목</label>
        <p class="form-control" th:field="*{title}" th:text="*{title}"></p>
      </div>
      <div class="form-group">
        <label th:for="content">내용</label>
        <textarea th:field="*{content}" th:text="*{content}" class="form-control" style="resize: none; height: 200px;" readonly></textarea>
      </div>
      <h1>추천수(<span th:id="recommendCount" th:text="*{recommendCount}"></span>)</h1>
      <button th:onclick="'javascript:recommend(' + *{postId} + ')'">
        <i class="fa fa-heart fa-6x" aria-hidden="true"></i>
      </button>
    </div>
    <button type="button" class="btn btn-primary mt-3" th:onclick="'javascript:updateGet(\'posts\',' + *{postId} + ')'">수정</button>
    <button type="button" class="btn btn-primary mt-3" th:onclick="'javascript:replyGet(' + *{postId} + ')'">답글</button>
    <button type="button" class="btn btn-primary mt-3" onclick="location.href='/posts'">목록</button>
    <br/>
  </div>
  <footer th:replace="templates/fragments/footer.html :: footer"></footer>
</body>
</html>