<header th:fragment="bodyHeader">
    <div class="header">
        <div class="container d-flex flex-wrap  justify-content-center justify-content-lg-start">
            <nav class="header-nav container navbar navbar-expand-md navbar-dark sticky-top">
                <div class="container-fluid">
                    <a class="justify-content-start navbar-brand bg-dark" href="/">Fixed navbar</a>
                    <button class="navbar-toggler collapsed bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <a class="header-search-button navbar-brand">검색</a>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="justify-content-end navbar-collapse collapse " id="header-navbar">
                        <form class="Search-Summoner d-flex offset-md-4 bg-dark">
                            <input type="search" class="form-control" placeholder="소환사 검색" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <form class="searchChampion d-flex bg-dark" name="searchChampion" type="GET">
                            <input type="text" class="form-control" id="searchChampionName" placeholder="챔피언 검색" aria-label="Search">
                            <button class="btn btn-outline-success" onclick="championSearch()">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container d-flex flex-wrap justify-content-center justify-content-lg-start">
                <div class="header-nav container navbar navbar-expand-md navbar-dark sticky-top">
                    <div class="form-control championKeywords hide"></div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-nav" aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu-nav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a class="nav-link" href="/augmentsList">증강</a></li>
                    <li><a class="nav-link" href="/championList">챔피언</a></li>
                    <li><a class="nav-link" href="/synergyList">시너지</a></li>
                    <li><a class="nav-link" href="/combination">조합</a></li>
                    <li><a class="nav-link" href="/guide">가이드</a></li>
                    <li><a class="nav-link" href="/posts">커뮤니티</a></li>
                    <li><a class="nav-link" href="/shop">상점</a></li>
                </ul>
                <div class="dropdown-divider"></div>
                <div class="login d-flex">
                    <div th:if="${session.loginMember eq null}">
                        <button type="button" class="btn btn-outline-dark me-2" onclick="location.href='/login'">로그인</button>
                    </div>
                    <div th:if="${session.loginMember ne null}">
                        <p th:text="|${session.loginMember.name}님 보유포인트: ${session.loginMember.point}|"></p>
                        <button type="button" class="btn btn-outline-dark me-2" onclick="location.href='/orders'">구매목록</button>
                        <button type="button" class="btn btn-outline-dark me-2" onclick="location.href='#'">회원수정</button>
                        <button type="button" class="btn btn-outline-dark me-2" onclick="logout()">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>