<head th:fragment="header(title)">
    <title th:replace="${title}">롤토체스 정보 사이트 롤체인포</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap/theme.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/bodyHeader.css}" rel="stylesheet">
    <link th:href="@{/css/login/loginForm.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/layoutIndexPage.css}" rel="stylesheet">

    <link th:href="@{/css/fragments/layoutAugmentsListPage.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/layoutChampionListPage.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/tftContents.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/layoutGuidePage.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/sumonner.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/layoutSynergyListPage.css}" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer th:src="@{/js/plugins/fontawesome/js/all.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/tft/bodyHeader.js}"></script>

    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>