<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="templates/fragments/header.html :: header"></head>
<link th:href="@{/css/fragments/layoutIndexPage.css}" rel="stylesheet">
<body>
    <header th:replace="templates/fragments/bodyHeader.html :: bodyHeader"></header>
    <div id="main-background">
        <form class="text-center container main-contentsAtt" name="indexSearchSummoner" id="indexSearchSummoner">
            <div>
                <input class="main-championSearchBox main-searchArea-Height" id="indexSearchSummonerName" placeholder="소환사 검색">
                <button class="btn btn-primary main-searchArea-Height" onclick="indexSummonerSearch()">검 색</button>
            </div>
        </form>
        <div class="container main-contentsAtt">
            <table class="container main-community-tableAtt">
                <tbody>
                <tr class="bg-white">
                    <td>&nbsp;커뮤니티 인기글</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                </tr>
                <tr>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                </tr>
                <tr>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                </tr>
                <tr>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                </tr>
                <tr>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                    <td class="main-community-tableRow col-md-4">&nbsp;<a href="#">1.xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="templates/fragments/footer.html :: footer"></footer>
</body>
<script th:inline="javascript">
    let path = [[${memberPurchaseProduct?.path}]];
    document.getElementById("main-background").style.backgroundImage = "url('" + "/img/product/"+path+"')";
</script>

</html>