<!DOCTYPE html>
<html th:replace="~{templates/layouts/baseLayout :: baseLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymleaf.org">
<head>
    <title>롤토체스 정보 사이트 롤체인포</title>
</head>
<body>
    <section>
        <div id="main-background">
            <form class="text-center container main-contentsAtt" name="indexSearchSummoner" id="indexSearchSummoner">
                <div>
                    <input class="main-championSearchBox main-searchArea-Height" id="indexSearchSummonerName" placeholder="소환사 검색">
                    <button class="btn btn-primary main-searchArea-Height" onclick="indexSummonerSearch()">검 색</button>
                </div>
            </form>
            <div class="container main-contentsAtt main-community-tableAtt">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">커뮤니티 인기글</h2>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">제목</th>
                                    <th class="border-bottom" scope="col">작성자</th>
                                    <th class="border-bottom" scope="col">추천수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="post : ${recommendPosts}">
                                    <th class="text-gray-900" scope="row">
                                        <a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.title}"></a>
                                    </th>
                                    <td class="fw-bolder text-gray-500" th:text="${post.nickname}"></td>
                                    <td class="fw-bolder text-gray-500" th:text="${post.recommendCount}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            let path = [[${memberPurchaseProduct?.path}]];
            document.getElementById("main-background").style.backgroundImage = "url('" + "/img/product/"+path+"')";
        </script>
    </section>
</body>
</html>