<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/header.html :: header"></head>
<body class="text-center">
<header th:replace="templates/fragments/bodyHeader.html :: bodyHeader"></header>

<div class="form-signin">
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <img class="mb-4" src="/img/login/logo.png" alt="" width="72" height="57">

        <div class="form-floating">
            <input type="email" class="form-control" th:errorclass="'border border-danger'" th:field="*{email}" placeholder="name@example.com">
            <label th:for="email">Email address</label>
            <div class="text-danger" th:errors="*{email}">
                이메일 오류
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" th:errorclass="'border border-danger'" th:field="*{password}" placeholder="비밀번호를 입력하세요">
            <label th:for="password">Password</label>
            <div class="text-danger" th:errors="*{password}">
                패스워드 오류
            </div>
        </div>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 mb-1 btn btn-lg btn-primary" type="submit">로그인</button>
        <button class="w-100 btn btn-lg btn-dark" type="button" onclick="location.href='/members/new'">회원가입</button>
    </form>
</div>
<br/>
<footer th:replace="templates/fragments/footer.html :: footer"></footer>
</body>
</html>