<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/fragments/header.html :: header"></head>
<body class="text-center">
<header th:replace="templates/fragments/bodyHeader.html :: bodyHeader"></header>

<div class="form-signin">
    <form th:action th:object="${emailForm}" method="post">
        <img class="mb-4" src="/img/login/logo.png" alt="" width="72" height="57">
        <div class="text-start mb-1">임시 비밀번호를 받을 이메일 주소를 입력해 주십시오</div>
        <div class="form-floating">
            <input class="mb-2 form-control" th:errorclass="'border border-danger'" th:field="*{email}" placeholder="name@example.com">
            <label th:for="email">Email address</label>
            <div class="text-danger" th:errors="*{email}">
                이메일 오류
            </div>
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
            </div>
        </div>
        <div class="row justify-content-sm-end w-100">
            <button class="btn col-sm-6" type="submit">비밀번호 찾기</button>
        </div>
    </form>
</div>
<footer th:replace="templates/fragments/footer.html :: footer"></footer>
</body>
</html>