<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projectteam.coop.sample.mybatis.repository.SampleMapper">
    <select id="findById" parameterType="com.projectteam.coop.sample.mybatis.domain.SampleDTO" resultType="com.projectteam.coop.sample.mybatis.domain.SampleDTO">
        SELECT
                SAMPLE_SEQ,
                ID,
                NAME,
                AGE
        FROM    SAMPLE
        WHERE
            ID = #{id}
    </select>

    <select id="findByAll" resultType="com.projectteam.coop.sample.mybatis.domain.SampleDTO">
        SELECT
                SAMPLE_SEQ,
                ID,
                NAME,
                AGE
        FROM    SAMPLE
    </select>

    <insert id="save" parameterType="com.projectteam.coop.sample.mybatis.domain.SampleDTO">
        INSERT INTO SAMPLE (
                            ID,
                            NAME,
                            AGE
        ) VALUES (
                    #{id},
                    #{name},
                    #{age}
        )
    </insert>
</mapper>