<hidden th:object="${initSynergy}">
  <input type="hidden" id="initTraitsName" th:value="*{traitsName}">
  <input type="hidden" id="initTraitsNameKr" th:value="*{traitsNameKr}">
  <input type="hidden" id="initTraitsDesc" th:value="*{traitsDesc}">
  <input type="hidden" id="initTraitsTier" th:value="*{traitsTier}">
  <input type="hidden" id="initTraitsTierDesc" th:value="*{traitsTierDesc}">
  <input type="hidden" id="initTraitsNumUnits" th:value="*{traitsNumUnits}">
  <input type="hidden" id="initTraitsNumUnitsKr" th:value="*{traitsNumUnitsKr}">
  <input type="hidden" id="initWinRate" th:value="*{winRate}">
  <input type="hidden" id="initUsedAnotherUnit" th:value="*{usedAnotherUnit}">
  <input type="hidden" id="initUsedAugments" th:value="*{usedAugments}">
  <input type="hidden" id="augmentTier" th:value="${augmentTier}">
</hidden>